@media (max-width: $xxl) {

  .home {
    padding: 65px 240px 65px 30px;
  }

}


@media (max-width: $xl) {

  .home {
    padding: 65px 190px 65px 30px;    
  }

  .home-left {
    &__title {
      font-size: 50px;
      margin-bottom: 15px;
    }
  }

  .home-right {
    &__img {
      height: auto;
      max-width: 450px;
    }

    &__offer,
    &__response,
    &__delivery {
      padding: 5px;
    }

    &__offer {
      width: 100px;
      height: 125px;      
    }

    &__delivery {
      width: 180px;
      height: 45px;
      left: 380px;
    }

    &__response {
      width: 250px;
      height: 80px;
      left: 380px;
      top: 350px;
    }

    &__offer-text,
    &__delivery-text,
    &__response-title {
      font-size: 18px;
    }
  }

  .benefits {
    &__text {
      margin-bottom: 25px;
    }
  }


  .title {
    font-size: 42px;
  }
}


@media (max-width: $lg) {

  .home {
    padding: 30px;

    &__inner {
      justify-content: space-between;
    }
  }
  
  .home-right {
    &__img {
      max-width: 300px;
    }

    &__offer,
    &__response,
    &__delivery {
      display: none;
    }
  }

  .home-left {
    max-width: 100%;

    &__title {
      font-size: 43px;
    }

    &__subtitle {
      font-size: 20px;
    }

    &__descr {
      max-width: 100%;
      margin-bottom: 15px;
    }
  }

  .benefits-box {
    &.benefits-box {
      margin-bottom: 25px;
    }

    &__item {
      padding: 60px 10px 10px;
    }

    &__title {
      font-size: 26px;
      margin-bottom: 10px;
    }
  }

  .shipping-item,
  .payment-item,
  .support-item {
    &::before {
      top: 5px;
    }    
  }

  .discount {
    &__inner {
      grid-gap: 15px;       
    }
  }

  .discount-item {
    min-height: 230px;    

    &__box {
      width: 150px;
      height: 150px;
      padding: 10px;
    }

    &__num {
      font-size: 26px;
      margin-bottom: 0;
    }

    &__link,
    &__text {
      font-size: 18px;
    }
  } 
  


  .link {
    font-size: 16px;
    padding: 10px 20px;
  }

  .title {
    font-size: 40px;
  }
}


@media (max-width: $md) {
  .home {
    padding: 15px;
  }

  .home-left {
    &__title {
      font-size: 30px;
    }

    &__subtitle {
      font-size: 18px;
    }

    &__descr {
      font-size: 16px;
    }
  }

  .benefits {
    &__title,
    &__text {
      margin-bottom: 15px;
    }

    &__text {
      font-size: 16px;                  
    }
  }

  .benefits-box {
    &__title {
      font-size: 22px;
    }

    &__descr {
      font-size: 16px;
    }
  }
  
  .discount {
    &__inner {      
      grid-template-columns: repeat(2, 1fr);    
    }
  }

  .discount-item {
    background-position: top;
    padding: 10px;
    
    &:nth-child(1) {
      grid-row: span 1;
      grid-column: span 1;
    }

    &:nth-child(2) {
      grid-column: span 1;
    } 
    
    &__box {
      width: 100px;
      height: 100px;
      padding: 10px;
      bottom: 5px;      
    }  

    &__link,
    &__text,
    &__num {
      font-size: 16px;
      margin-bottom: 0;
    }
  }


  .title {
    font-size: 28px;
  }
}


@media (max-width: $sm) {
  .home-right {
    &__img {
      display: none;
    }
  }

  .benefits-box {
    display: flex;
    flex-direction: column;

    &__item {
      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 15px;
      }      
    }
  }

  .discount {
    &__inner {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .discount-item {
    min-height: 250px;
    background-position: 36% 25%;
  }
}