$body: #FFFFFF;
$accent: #6E6868;
// $title: #000000;
// $default: #222222;
// $brown: #402F2C;
// $header: #F9F6F5;
// $footer: #fafafa;
// $button: rgba(64, 47, 44, 1);
// $white: #ffffff;
// $beige: #FDF8F5;

// $sm: 576px;
// $md: 768px;
// $lg: 992px;
// $xl: 1200px;


%roboto-400 {
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
}

%roboto-500 {
  font-family: 'Roboto-Medium', sans-serif;
  font-weight: 500;
}

%roboto-500it {
  font-family: 'Roboto-MediumItalic', sans-serif;
  font-weight: 500;
}

%roboto-700 {
  font-family: 'Roboto-Bold', sans-serif;
  font-weight: 700;
}

%poppins-400 {
  font-family: 'Poppins-Regular', sans-serif;
  font-weight: 400;
}

%spline-700 {
  font-family: 'SplineSans-Bold',sans-serif;
  font-weight: 700;
}

